* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:hover, input:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

#search-head {
    height: 100vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    display: block;
    margin: 0 auto .8em;
}

h1, h2 {
    text-align: center;
}

h2 {
    margin-top: 2em;
    margin-bottom: 2em;
}

main {
    min-height: 100vh;
    background-color: darkgray;
    padding-top: 2em;
    padding-bottom: 2em;
}

#youtube-results, #podcast-results {
    background-color: white;
    /*min-height: 1000px;*/
    width: 80%;
    margin: 10px auto;
}


#youtube-results ul, #podcast-results ul {
    list-style-type: none;
}

#youtube-results-list li, #podcast-results-list li {
    border-bottom: solid black 1px;
    white-space: pre-line;
    word-wrap: break-word;
    width: 90%;
    margin: 0 auto;
}

#youtube-results-list li:last-child, #podcast-results-list li:last-child {
    border-bottom: none;
}

#youtube-results-list li img, #podcast-results-list li img {
    height: 80%;
    width: 80%;
}

#podcast-results-list li {
    padding-bottom: .5em;
}

#footer {
    height: 2em;
}

@media only screen and (min-width: 1224px) {
    #youtube-results-list li img {
        height: 40%;
        width: 40%;
    }

    #podcast-results-list li img {
        height: 30%;
        width: 30%;
    }

    main {
        display: flex;
        justify-content: space-evenly;
    }

    #youtube-results, #podcast-results {
        width: 48%; 
    }

    form {
        display: flex;
        justify-content: center;
    }

    input {
        margin: 0;
    }

    .searchBox {
        width: 40%;
        height: 3em;
        margin-right: 1%;
    }

    #submit-button {
        width: 5%;
    }
}
   


